
*.pdf
*.png
*.txt
A17_all
A17_all_fdip0_EMoEK
*.csv_fdip0_EMoEK
Yadav_etal_pnas_16_data.xls_all_fdip0_EMoEK
*.data_fdip0_EMoEK
data/Yadav_etal_pnas_16_data.xls_all_fdip2_EMoEK
data/Dataset.FTFT
data/Dataset.L_FFFF
data/Dataset.L_FTFF
data/Dataset.L_Mixed
data/Dataset.S
data/Dataset.Y
data/Dataset_UNFILTERED.CE
data/Dataset_UNFILTERED.FF0F
data/Dataset_UNFILTERED.FTFF
data/Dataset_UNFILTERED.FTFT
data/Dataset_UNFILTERED.Mixed
data/S19_data_fdip0_EMoEK
data/aubert2009-all.txt_fdip0_EMoEK
